@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #b07cf7;
    box-sizing: border-box;
    padding: 5px 0 10px;
}

.conteiner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/* Section */
.section__header {
    width: 100%;
    max-width: 570px;
    margin: 0 auto 50px;
    text-align: center;
    color: #fff;
}

.section__title {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
}

.section__text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

/* About */
.about {
    display: flex;
    justify-content: space-around;
    margin: 0 165px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.about__item {
    width: 370px;
    height: 310px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 15px;
}

.coctail_image {
    background-image: linear-gradient(to bottom, transparent, 80%, black), url(../img/cocktail.jpg);
}

.soup_image {
    background-image:linear-gradient(to bottom, transparent, 80%, black), url(../img/soup.jpg);
}

.raspberries_image {
    background-image:linear-gradient(to bottom, transparent, 80%, black),  url(../img/raspberries.jpg);
}

.coctail_image:hover {
    background-size: 120% ;
}
.soup_image:hover {
    background-size: 120% ;
}

.raspberries_image:hover {
    background-size: 120% ;
}

.square {
    width: 60px;
    height: 60px;
    background-image: url(../img/bg.png);
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
}

.square_text {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
}

.text {
    width: 307px;
    height: 78px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    font-family: "Raleway";
    font-weight: 700;
    margin-top: 127px;
}

.text_small{
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 300;
}
   
/* Button */

.button {
    text-align: center;
    margin-top: 50px;
}

.button__button {
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f72b3b;
    text-decoration: none;
    padding: 20px 43px;
    margin: 0 auto;


    color: #ffffff;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}
